<p>navigation works!</p>
<h1>send param with url path</h1>
<button type="button" [routerLink]="['/pages/param-by-path', 'john']">Example1</button>
<button type="button" (click)="sendParamByPath()">Example2</button>

<h1>send param</h1>
<button type="button" [routerLink]="['/pages/param', { id: 1, name: 'Bangkok' }]">Example3</button>
<button type="button" (click)="sendParam()">Example4</button>

<h1>send query string</h1>
<button type="button" [routerLink]="['/pages/query-string']" [queryParams]="{ id: 3, name: 'Chiang Mai' }">Example5</button>
<button type="button" (click)="sendQueryString()">Example6</button>

<h1>send state</h1>
<button type="button" (click)="sendState()">Example7</button>